<!DOCTYPE html>
<% include ../views/partials/head.ejs %>
  <body>
<<<<<<< HEAD
    <% include ../views/partials/header.ejs %>
      <div class="container">
=======
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

>>>>>>> data renders on page
  </body>
</html>
