<!DOCTYPE html>
<% include ../views/partials/head.ejs %>
  <body>
    <% include ../views/partials/header.ejs %>
      <div class="container">
      <a href="/auth/login">Log In</a>
      <a href="/auth/register">Register</a>
      <a href="/users">My Profile</a>
      </div>
  </body>
</html>
