<!DOCTYPE html>
<html>
  <head>
  </head>
    <h1> <%= director.name %></h1>
    <div class="director">
      <span><%= director.name %></span>
      <span><%= director.UpdatedAt %></span>
      <a href="<%= '/directors/' + director.id + '/edit' %>">Edit Director Info</a>
    </div>
      </span>
    <div>
      <span>
      <a href="/directors"> Back to Directors</a>
      </span>
    </div>
  </body>
</html>
