<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form method="POST" action=<%='/movies/' + movie.id + '?_method=PUT'%>>
    <label>Movie</label>
    <input type="text" name="title" placeholder="<%=movie.title%>">
    <label>Synopsis</label>
    <textarea type="text" name="synopsis" placeholder="<%=movie.synopsis%>"></textarea>
    <input type="submit">
  </form>
</body>
</html>


<form method="POST" action=<%='/movies/' + movie.id + '?_method=PUT'%>>
