<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <ul>
  <% movies.forEach(function(movie) { %>
    <li>
   <a href=<%= "/movies/" + movie.id%>><%= movie.title %></a>
    </li>
  <% }) %>
  </ul>
</body>
</html>
