<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
    <ul>
      <li><%= movie.title %></li>
      <li><%= movie.synopsis %></li>
    </ul>
    <form method="POST" action=<%='/movies/' + movie.id + '?_method=DELETE'%>>
      <input type="submit" value="Delete">
    </form>
</body>
</html>
